*.sdf
*.opensdf
.metadata/
.recommenders/
.gradle/
.settings/
.idea/
.project
.classpath
Workspaces/VS/*.VC.db
Workspaces/VS/packages/*/
*.suo
**/obj
**/bin
**/build
**/Debug
**/Release
FastMines_uwp/res
FastMines_uwp/src_*
Mines.bst
Mines.dat
Mines.stc
*project.lock.json
**.VC.opendb
