*.sdf
*.opensdf
.metadata/
.recommenders/
.gradle/
.settings/
.idea/
.project
.classpath
*.suo
**/obj
**/bin
**/build
**/Debug
**/Release
FastMines_uwp/*.VC.db
FastMines_uwp/*.VC.opendb
.vs/*
FastMines_uwp/FastMines.Main/res
FastMines_uwp/FastMines.*/src_*
FastMines_uwp/packages/*
*proj.user
Mines*.bst
Mines*.dat
Mines*.stc
*project.lock.json
**/*FastMines.*.nuget.targets
**/*FastMines.*.nuget.props
