*.sdf
*.opensdf
.metadata/
.recommenders/
.gradle/
.settings/
.idea/
.project
.classpath
*.suo
**/obj
**/bin
**/build
**/Debug
**/Release
FastMines.sln.DotSettings.user
FastMines_uwp/*.VC.db
FastMines_uwp/*.VC.opendb
.vs/*
FastMines_uwp/*FastMines*/res
FastMines_uwp/FastMines*/src_*
FastMines_uwp/packages/*
*proj.user
FastMines.best
FastMines.settings
FastMines.statistics
*project.lock.json
**/*FastMines.*.nuget.targets
**/*FastMines.*.nuget.props
local.properties
*.iml
gradlew*
gradle-wrapper*
