////////////////////////////////////////////////////////////////////////////////
//                               FastMines project
//                                                   (C) Sergey Krivulya (KSerg)
// resource file name: "FastMines.rc"
////////////////////////////////////////////////////////////////////////////////

#include <commctrl.h>
#include <winuser.h>
#include <winnt.h>
#include "./ID_resource.h"

////////////////////////////////////////////////////////////////////////////////
//                                 main menu
////////////////////////////////////////////////////////////////////////////////
FastMinesMenu MENU {
   POPUP "&Game" {
      MENUITEM "&New Game\tF2"   , ID_MENU_GAME_NEW_GAME
      MENUITEM SEPARATOR
      MENUITEM "&Beginner\t1"    , ID_MENU_GAME_BEGINNER
      MENUITEM "&Amateur\t2"     , ID_MENU_GAME_AMATEUR
      MENUITEM "&Professional\t3", ID_MENU_GAME_PROFESSIONAL
      MENUITEM "C&razy\t4"       , ID_MENU_GAME_CRAZY
      MENUITEM "&Custom...\t5"   , ID_MENU_GAME_CUSTOM
      MENUITEM SEPARATOR
      MENUITEM "Create Game\tCtrl+C", ID_MENU_GAME_CREATE
      MENUITEM "Save Game  \tCtrl+S", ID_MENU_GAME_SAVE
      MENUITEM "Open Game  \tCtrl+O", ID_MENU_GAME_LOAD
      MENUITEM SEPARATOR
      MENUITEM "&Players...\t~"  , ID_MENU_GAME_SELECTPLAYER
      MENUITEM SEPARATOR
      MENUITEM "&Exit"           , ID_MENU_GAME_EXIT
   }
   POPUP "&Mosaics" {
      POPUP "&Triangle\tNum3" {
         MENUITEM "30\tNum30", ID_MENU_MOSAIC_TRIANGLE1
         MENUITEM "31\tNum31", ID_MENU_MOSAIC_TRIANGLE2
         MENUITEM "32\tNum32", ID_MENU_MOSAIC_TRIANGLE3
         MENUITEM "33\tNum33", ID_MENU_MOSAIC_TRIANGLE4
      }
      POPUP "&Quadrilaterals\tNum4" {
         MENUITEM "40\tNum40", ID_MENU_MOSAIC_SQUARE1
         MENUITEM "41\tNum41", ID_MENU_MOSAIC_SQUARE2
         MENUITEM "42\tNum42", ID_MENU_MOSAIC_PARQUET1
         MENUITEM "43\tNum43", ID_MENU_MOSAIC_PARQUET2
         MENUITEM "44\tNum44", ID_MENU_MOSAIC_TRAPEZOID1
         MENUITEM "45\tNum45", ID_MENU_MOSAIC_TRAPEZOID2
         MENUITEM "46\tNum46", ID_MENU_MOSAIC_TRAPEZOID3
         MENUITEM "47\tNum47", ID_MENU_MOSAIC_RHOMBUS1
         MENUITEM "48\tNum48", ID_MENU_MOSAIC_QUADRANGLE1
      }
      POPUP "&Pentagons\tNum5" {
         MENUITEM "50\tNum50", ID_MENU_MOSAIC_PENTAGONT24
         MENUITEM "51\tNum51", ID_MENU_MOSAIC_PENTAGONT5
         MENUITEM "52\tNum52", ID_MENU_MOSAIC_PENTAGONT10
      }
      POPUP "&Hexagons\tNum6" {
         MENUITEM "60\tNum60", ID_MENU_MOSAIC_HEXAGON1
      }
      POPUP "&Other\tNum7" {
         MENUITEM "70\tNum70", ID_MENU_MOSAIC_TRSQ1
         MENUITEM "71\tNum71", ID_MENU_MOSAIC_TRSQ2
         MENUITEM "72\tNum72", ID_MENU_MOSAIC_SQTRHEX
      }
   }
   POPUP "&Options" {
      MENUITEM "Always maximal size"       , ID_MENU_OPTIONS_ALWAYSMAXSIZE
      MENUITEM "Maximal mosaic size\tNum*" , ID_KEY_AREA_MAX
      MENUITEM "Minimal mosaic size\tNum/" , ID_KEY_AREA_MIN
      MENUITEM "Increase mosaic size\tNum+", ID_KEY_AREA_INCREMENT
      MENUITEM "Decrease mosaic size\tNum-", ID_KEY_AREA_DECREMENT
      MENUITEM SEPARATOR
      POPUP "&Skin" {
         POPUP "&Load" {
            MENUITEM "Default", ID_MENU_OPTIONS_SKIN_LOAD0
         }
         MENUITEM "&Save"  , ID_MENU_OPTIONS_SKIN_SAVE
         MENUITEM "&Change\tF8", ID_MENU_OPTIONS_SKIN_CHANGE
      }
      MENUITEM SEPARATOR
      POPUP "&Language" {
         MENUITEM "English", ID_MENU_OPTIONS_LANG_LOAD0
      }
      MENUITEM SEPARATOR
      MENUITEM "&Use '?'"          , ID_MENU_OPTIONS_USE_UNKNOWN
      MENUITEM SEPARATOR
      MENUITEM "&Show toolbar\tF10", ID_MENU_OPTIONS_SHOW_TOOLBAR
      MENUITEM "&Show menu\tF11"   , ID_MENU_OPTIONS_SHOW_MENU
      MENUITEM "&Show caption\tF12", ID_MENU_OPTIONS_SHOW_CAPTION
      MENUITEM SEPARATOR
      MENUITEM "Minimize to tray"  , ID_MENU_OPTIONS_TO_TRAY
   }
   POPUP "&Help" {
      MENUITEM "&Campions  \tF3", ID_MENU_HELP_CAMPIONS
      MENUITEM "&Statistics\tF4", ID_MENU_HELP_STATISTICS
      MENUITEM SEPARATOR
      POPUP "&Assistant" {
         MENUITEM "Assistant on      \tA" , ID_MENU_HELP_ASSISTANT_ONOFF
         MENUITEM "Options...        \tF5", ID_MENU_HELP_ASSISTANT_OPTIONS
         MENUITEM "Suggest left click\tH" , ID_MENU_HELP_ASSISTANT_SUGGEST
      }
      MENUITEM SEPARATOR
      MENUITEM "&About\tF1"   , ID_MENU_HELP_ABOUT
   }
}

////////////////////////////////////////////////////////////////////////////////
//                             main accelerators
////////////////////////////////////////////////////////////////////////////////
FastMinesAccelerators ACCELERATORS {
   0x31, ID_MENU_GAME_BEGINNER    , VIRTKEY, NOINVERT
   0x32, ID_MENU_GAME_AMATEUR     , VIRTKEY, NOINVERT
   0x33, ID_MENU_GAME_PROFESSIONAL, VIRTKEY, NOINVERT
   0x34, ID_MENU_GAME_CRAZY       , VIRTKEY, NOINVERT
   0x35, ID_MENU_GAME_CUSTOM      , VIRTKEY, NOINVERT

   0x43, ID_MENU_GAME_CREATE      , VIRTKEY, CONTROL // Ctrl+C
   0x53, ID_MENU_GAME_SAVE        , VIRTKEY, CONTROL // Ctrl+S
   0x4F, ID_MENU_GAME_LOAD        , VIRTKEY, CONTROL // Ctrl+O
   0x4C, ID_MENU_GAME_LOAD        , VIRTKEY, CONTROL // Ctrl+L

   VK_NUMPAD0, ID_KEY_NUM0, VIRTKEY, NOINVERT
   VK_NUMPAD1, ID_KEY_NUM1, VIRTKEY, NOINVERT
   VK_NUMPAD2, ID_KEY_NUM2, VIRTKEY, NOINVERT
   VK_NUMPAD3, ID_KEY_NUM3, VIRTKEY, NOINVERT
   VK_NUMPAD4, ID_KEY_NUM4, VIRTKEY, NOINVERT
   VK_NUMPAD5, ID_KEY_NUM5, VIRTKEY, NOINVERT
   VK_NUMPAD6, ID_KEY_NUM6, VIRTKEY, NOINVERT
   VK_NUMPAD7, ID_KEY_NUM7, VIRTKEY, NOINVERT
   VK_NUMPAD8, ID_KEY_NUM8, VIRTKEY, NOINVERT
   VK_NUMPAD9, ID_KEY_NUM9, VIRTKEY, NOINVERT

   0xC0  , ID_MENU_GAME_SELECTPLAYER     , VIRTKEY, NOINVERT // key "`" or "~"
   VK_F1 , ID_MENU_HELP_ABOUT            , VIRTKEY, NOINVERT
   VK_F2 , ID_MENU_GAME_NEW_GAME         , VIRTKEY, NOINVERT
   VK_F3 , ID_MENU_HELP_CAMPIONS         , VIRTKEY, NOINVERT
   VK_F4 , ID_MENU_HELP_STATISTICS       , VIRTKEY, NOINVERT
   VK_F5 , ID_MENU_HELP_ASSISTANT_OPTIONS, VIRTKEY, NOINVERT
   VK_F7 , ID_MENU_OPTIONS_SKIN_LOAD     , VIRTKEY, NOINVERT
   VK_F8 , ID_MENU_OPTIONS_SKIN_CHANGE   , VIRTKEY, NOINVERT
   VK_F10, ID_MENU_OPTIONS_SHOW_TOOLBAR  , VIRTKEY, NOINVERT
   VK_F11, ID_MENU_OPTIONS_SHOW_MENU     , VIRTKEY, NOINVERT
   VK_F12, ID_MENU_OPTIONS_SHOW_CAPTION  , VIRTKEY, NOINVERT


   0x41, ID_MENU_HELP_ASSISTANT_ONOFF  , VIRTKEY, NOINVERT // key "A"
   0x48, ID_MENU_HELP_ASSISTANT_SUGGEST, VIRTKEY, NOINVERT // key "H"

   VK_ESCAPE, ID_MINIMIZE            , VIRTKEY, NOINVERT
   VK_PAUSE , ID_BUTTON_PAUSE        , VIRTKEY, NOINVERT
   0x50     , ID_BUTTON_PAUSE        , VIRTKEY, NOINVERT // key "P"

   0xBB       , ID_KEY_AREA_INCREMENT, VIRTKEY, NOINVERT // key "+" and "="
   0xBD       , ID_KEY_AREA_DECREMENT, VIRTKEY, NOINVERT // key "-" and "_"
   VK_ADD     , ID_KEY_AREA_INCREMENT, VIRTKEY, NOINVERT
   VK_SUBTRACT, ID_KEY_AREA_DECREMENT, VIRTKEY, NOINVERT
   VK_MULTIPLY, ID_KEY_AREA_MAX      , VIRTKEY, NOINVERT
   VK_DIVIDE  , ID_KEY_AREA_MIN      , VIRTKEY, NOINVERT
}

////////////////////////////////////////////////////////////////////////////////
//                                   bitmap
////////////////////////////////////////////////////////////////////////////////
Mine BITMAP Image\Mine.bmp
Flag BITMAP Image\Flag.bmp

////////////////////////////////////////////////////////////////////////////////
//                      application-defined resource (raw data) 
////////////////////////////////////////////////////////////////////////////////
Pause RCDATA Image\Face.emf

////////////////////////////////////////////////////////////////////////////////
//                                     icon
////////////////////////////////////////////////////////////////////////////////
iconPROJECT ICON Image\project.ico

New0   ICON Image\new0.ico
New1   ICON Image\new1.ico
New2   ICON Image\new2.ico
New3   ICON Image\new3.ico
Pause0 ICON Image\pause0.ico
Pause1 ICON Image\pause1.ico
Pause2 ICON Image\pause2.ico
Pause3 ICON Image\pause3.ico
//Flag  ICON Image\flag.ico
//Mine  ICON Image\mine.ico
//Pause ICON Image\SeriousSam.ico

//Mail ICON Image\mail.ico

icon_MosaicSquare1     ICON Image\MosaicSquare1.ico
icon_MosaicSquare2     ICON Image\MosaicSquare2.ico
icon_MosaicTriangle1   ICON Image\MosaicTriangle1.ico
icon_MosaicTriangle2   ICON Image\MosaicTriangle2.ico
icon_MosaicTriangle3   ICON Image\MosaicTriangle3.ico
icon_MosaicTriangle4   ICON Image\MosaicTriangle4.ico
icon_MosaicPentagonT24 ICON Image\MosaicPentagonT24.ico
icon_MosaicPentagonT5  ICON Image\MosaicPentagonT5.ico
icon_MosaicPentagonT10 ICON Image\MosaicPentagonT10.ico
icon_MosaicHexagon1    ICON Image\MosaicHexagon1.ico
icon_MosaicParquet1    ICON Image\MosaicParquet1.ico
icon_MosaicParquet2    ICON Image\MosaicParquet2.ico
icon_MosaicTrSq1       ICON Image\MosaicTrSq1.ico
icon_MosaicTrSq2       ICON Image\MosaicTrSq2.ico
icon_MosaicSqTrHex     ICON Image\MosaicSqTrHex.ico
icon_MosaicTrapezoid1  ICON Image\MosaicTrapezoid1.ico
icon_MosaicTrapezoid2  ICON Image\MosaicTrapezoid2.ico
icon_MosaicTrapezoid3  ICON Image\MosaicTrapezoid3.ico
icon_MosaicRhombus1    ICON Image\MosaicRhombus1.ico
icon_MosaicQuadrangle1 ICON Image\MosaicQuadrangle1.ico
icon_MosaicNull        ICON Image\MosaicNull.ico

////////////////////////////////////////////////////////////////////////////////
//                                   dialog
////////////////////////////////////////////////////////////////////////////////
ProductNameDialog DIALOG 26, 4, 70, 8
STYLE WS_CHILD | WS_VISIBLE
FONT 18, "MS Sans Serif"
{
CONTROL
   "FastMines",
    ID_DIALOG_ABOUT_PRODUCTNAME,
    STATIC,
    WS_CHILD | WS_VISIBLE | SS_CENTER | SS_NOPREFIX,
    0,0,70,8
}

AboutDialog DIALOG 0,0,234,150
CAPTION "About"
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
FONT 8, "MS Sans Serif"
{
CONTROL
   ID_VERSIONINFO_VERSION4,
   ID_DIALOG_ABOUT_VERSION,
   STATIC,
   SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   50, 35, 170, 8 
CONTROL
   "Copyright © KSerg",
   ID_DIALOG_ABOUT_COPYRIGHT,
   STATIC,
   SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   50, 48, 170, 8
CONTROL
   "Comments"
   ID_DIALOG_ABOUT_COMMENTS,
   STATIC,
   SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   50, 60, 170, 8
CONTROL
   "Comments: e-mail",
   ID_DIALOG_ABOUT_RESPONSE,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   11, 80, 92, 10
CONTROL
   " Serg_Krivulja@UkrPost.net",
   ID_DIALOG_ABOUT_UKRPOST,
   STATIC,
   SS_CENTER | SS_NOPREFIX | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE,
   109, 80, 111, 10
CONTROL
   "ICQ:",
   ID_DIALOG_ABOUT_ICQ,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | SS_NOTIFY | WS_CHILD | WS_VISIBLE,
   12, 97, 92, 8
CONTROL
   "7 2 0 9 9 1 6 7",
   ID_DIALOG_ABOUT_ICQADDRESS,
   STATIC,
   SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   109, 97, 111, 8
/*
CONTROL
   "netmail",
   ID_DIALOG_ABOUT_FIDO,
   STATIC,
   WS_CHILD | WS_VISIBLE | SS_GRAYFRAME | SS_SIMPLE | SS_NOPREFIX,
   47,91,25,8
CONTROL
   " 2:463/444:271",
   ID_DIALOG_ABOUT_FIDOADDRESS,
   STATIC,
   WS_CHILD | WS_VISIBLE | SS_GRAYFRAME | SS_SIMPLE | SS_NOPREFIX | SS_NOTIFY | SS_SUNKEN,
   79,90,52,10
/**/
CONTROL
   "FastMines site:",
   ID_DIALOG_ABOUT_FMSITE,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   11, 113, 92, 8
CONTROL
   " http://kserg77.chat.ru",
   ID_DIALOG_ABOUT_SITE,
   STATIC,
   SS_CENTER | SS_NOPREFIX | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE,
   109, 112, 111, 10
CONTROL
   "",
   ID_DIALOG_ABOUT_GROUPBOX,
   BUTTON,
   BS_GROUPBOX | WS_CHILD | WS_VISIBLE,
   6, 1, 223, 124
CONTROL
   "Ok",
   IDOK,
   BUTTON,
   BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,
   92, 130, 50, 16
}

StatisticsOrChampionsDialog DIALOG 0,0,157,204
CAPTION "Statistics or Champions"
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_CENTER | WS_SIZEBOX
FONT 10, "MS Sans Serif"
{
CONTROL
   "TabControl",
   ID_DIALOG_STATISTICSorCHAMPIONS_TABCONTROL,
   WC_TABCONTROL,
   WS_GROUP | WS_TABSTOP | WS_CHILD | WS_VISIBLE,// | TCS_OWNERDRAWFIXED,
   0,0,157,172
CONTROL
   "Beginner",
   ID_DIALOG_STATISTICSorCHAMPIONS_BUTTON_BEGINNER,
   BUTTON,
   WS_GROUP | WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | BS_PUSHLIKE,
   1,173,76,15
CONTROL
   "Amateur",
   ID_DIALOG_STATISTICSorCHAMPIONS_BUTTON_AMATEUR,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | BS_PUSHLIKE,
   1,189,76,15
CONTROL
   "Professional",
   ID_DIALOG_STATISTICSorCHAMPIONS_BUTTON_PROFESSIONAL,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | BS_PUSHLIKE,
   79,173,76,15
CONTROL
   "Crazy",
   ID_DIALOG_STATISTICSorCHAMPIONS_BUTTON_CRAZY,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | BS_PUSHLIKE,
   79,189,76,15
}

InputText DIALOG 0, 0, 155, 119
CAPTION "InputText"
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
FONT 8, "MS Sans Serif"
{
CONTROL
   "Ok",
   IDOK,
   BUTTON,
   WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   98, 97, 50, 14
CONTROL
   "Text:",
   ID_DIALOG_INPUTTEXT_STATIC_TEXT,
   STATIC,
   WS_CHILD | WS_VISIBLE | SS_GRAYFRAME | SS_SIMPLE | SS_NOPREFIX,
   7, 7, 141, 8
CONTROL
   "",
   ID_DIALOG_INPUTTEXT_EDIT_TEXT,
   EDIT,
   WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT,
   7,17, 141,14
CONTROL
   "Password:",
   ID_DIALOG_INPUTTEXT_STATIC_PASSWORD,
   STATIC,
   SS_SIMPLE | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   7, 36, 141, 8 
CONTROL
   "",
   ID_DIALOG_INPUTTEXT_EDIT_PASSWORD,
   EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP,
   7, 47, 141, 14 
CONTROL
   "Confirmation:",
   ID_DIALOG_INPUTTEXT_STATIC_CONFIRMATION,
   STATIC,
   SS_SIMPLE | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   7, 66, 141, 8 
CONTROL
   "",
   ID_DIALOG_INPUTTEXT_EDIT_CONFIRMATION,
   EDIT,
   ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP,
   7, 76, 141, 14 
}

SelectPlayer DIALOG 0, 0, 236, 162
CAPTION "Player Administration"
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
FONT 8, "MS Sans Serif"
{
CONTROL
   "Select Player",
   IDOK,
   BUTTON,
   WS_GROUP | WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,7,80,14
CONTROL
   "New Player",
   ID_DIALOG_SELECTPLAYER_BUTTON_NEWPLAYER,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,31,80,14
CONTROL
   "New Password",
   ID_DIALOG_SELECTPLAYER_BUTTON_NEWPASSWORD,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,55,80,14
CONTROL
   "Rename",
   ID_DIALOG_SELECTPLAYER_BUTTON_RENAME,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,79,80,14
CONTROL
   "Remove",
   ID_DIALOG_SELECTPLAYER_BUTTON_REMOVE,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,103,80,14
CONTROL
   "Cancel",
   IDCANCEL,
   BUTTON,
   WS_TABSTOP | WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON,
   150,128,80,14
CONTROL
   "Window autoloading",
   ID_DIALOG_SELECTPLAYER_BUTTONCHECK_AUTOSTART,
   BUTTON,
   BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,
   31,147,200,10 
}

SelectMosaic DIALOG 0, 0, 120, 103
CAPTION "Select mosaic"
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
FONT 8, "MS Sans Serif"
{
CONTROL
   "Mosaic number:",
   ID_DIALOG_SELECTMOSAIC_STATIC_NUMBER,
   STATIC,
   WS_CHILD | WS_VISIBLE | SS_GRAYFRAME | SS_SIMPLE | SS_NOPREFIX,
   7,6,110,8
CONTROL
   "",
   ID_DIALOG_SELECTMOSAIC_EDIT,
   EDIT,
   WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT | ES_NUMBER,
   7,17,106,14
CONTROL
   "",
   ID_DIALOG_SELECTMOSAIC_SPIN,
   UPDOWN_CLASS,
   WS_CHILD | WS_VISIBLE | WS_BORDER | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS,
   71,4,12,12
CONTROL
   "Mosaic name:",
   ID_DIALOG_SELECTMOSAIC_STATIC_NAME,
   STATIC,
   WS_CHILD | WS_VISIBLE | SS_GRAYFRAME | SS_SIMPLE | SS_NOPREFIX,
   7,39,110,8
CONTROL
   "",
   ID_DIALOG_SELECTMOSAIC_COMBOBOX,
   COMBOBOX,
   WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST,
   7,50,105,80
CONTROL
   "",
   IDOK,
   BUTTON,
   WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_ICON,
   39,71,41,25
}

CustomSkillLevel DIALOG 0,0,233,90
CAPTION "Custom skill level"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
FONT 8, "MS Sans Serif"
{
CONTROL
   "Ok",
   IDOK,
   BUTTON,
   WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON,
   179,70,50,14
CONTROL
   "Size X (width) = ",
   ID_DIALOG_CUSTOMSKILL_STATIC_X,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   5, 11, 71, 8
CONTROL
   "Size Y (height) = ",
   ID_DIALOG_CUSTOMSKILL_STATIC_Y,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   5, 30, 72, 8
CONTROL
   "Number of Mines = ",
   ID_DIALOG_CUSTOMSKILL_STATIC_MINE,
   STATIC,
   SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE,
   5, 49, 72, 8
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_EDIT_X,
   EDIT,
   WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT | ES_NUMBER,
   78,9,40,12
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_SPIN_X,
   UPDOWN_CLASS,
   WS_CHILD | WS_VISIBLE | WS_BORDER | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS,
   118,9,12,12
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_EDIT_Y,
   EDIT,
   WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT | ES_NUMBER,
   78,28,40,12
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_SPIN_Y,
   UPDOWN_CLASS,
   WS_CHILD | WS_VISIBLE | WS_BORDER | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS,
   118,28,12,12
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_EDIT_MINE,
   EDIT,
   WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT | ES_NUMBER,
   78,47,40,12
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_SPIN_MINE,
   UPDOWN_CLASS,
   WS_CHILD | WS_VISIBLE | WS_BORDER | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS,
   118,47,12,12
CONTROL
   "Full Screen\n( current cell size )",
   ID_DIALOG_CUSTOMSKILL_FULLSCREEN1,
   BUTTON,
   WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX | BS_MULTILINE,
   131, 5, 94, 28
CONTROL
   "Full Screen\n( minimal cell size )",
   ID_DIALOG_CUSTOMSKILL_FULLSCREEN2,
   BUTTON,
   WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX | BS_MULTILINE,
   131, 36, 94, 28
CONTROL
   "",
   ID_DIALOG_CUSTOMSKILL_GROUPBOX,
   BUTTON,
   WS_CHILD | WS_VISIBLE | BS_GROUPBOX,
   3, 0, 226, 66
CONTROL
   "Cancel",
   IDCANCEL,
   BUTTON,
   WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON,
   3,70,50,14
}

CHANGESKINDIALOG DIALOG 0, 0, 354, 166
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Change skin"
FONT 8, "MS Sans Serif"
{
   CONTROL "'Mine' image"      , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_MINE         , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                            , 6  , 6  , 93 , 16
   CONTROL "'Flag' image"      , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_FLAG         , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 21 , 93 , 16
   CONTROL "'Pause' image"     , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_PAUSE        , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 35 , 93 , 16
   CONTROL "'Pause' button"    , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_BTNPAUSE     , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 50 , 93 , 16
   CONTROL "'Game' button"     , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_BTNNEW       , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 64 , 93 , 16
   CONTROL "Background image"  , ID_DIALOG_SELECTSKIN_BUTTON_IMAGE_BCKGRND      , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 78 , 93 , 16
   CONTROL "Background color"  , ID_DIALOG_SELECTSKIN_BUTTON_COLOR_BCKGRND      , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 93 , 93 , 16
   CONTROL "Border color/width", ID_DIALOG_SELECTSKIN_BUTTON_BORDER             , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 107, 93 , 16
   CONTROL "Character Colors"  , ID_DIALOG_SELECTSKIN_BUTTON_COLOR_TEXT         , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 122, 93 , 16
   CONTROL "Font Type"         , ID_DIALOG_SELECTSKIN_BUTTON_TYPE_FONT          , BUTTON      , BS_AUTORADIOBUTTON | BS_PUSHLIKE | BS_FLAT | WS_CHILD | WS_VISIBLE                                                    , 6  , 136, 93 , 16
   CONTROL ""                  , ID_DIALOG_CHANGESKIN_BUTTON_FRAME              , STATIC      , SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE                                                                                , 105, 7  , 155, 133
   CONTROL "Select..."         , ID_DIALOG_CHANGESKIN_BUTTON_SELECT             , BUTTON      , BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                                                         , 268, 7  , 80 , 15
   CONTROL "Select..."         , ID_DIALOG_CHANGESKIN_BUTTON_SELECT2            , BUTTON      , BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                                    , 268, 28 , 80 , 15
   CONTROL "Transparent"       , ID_DIALOG_CHANGESKIN_BUTTON_TRANSPARENTorSETALL, BUTTON      , BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                                        , 268, 23 , 80 , 24
   CONTROL "Width ="           , ID_DIALOG_CHANGESKIN_STATIC_WIDHT              , STATIC      , SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE                                                                       , 269, 62 , 43 , 8
   CONTROL ""                  , ID_DIALOG_CHANGESKIN_EDIT_WIDHT                , EDIT        , ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP                     , 315, 61 , 32 , 12
   CONTROL ""                  , ID_DIALOG_CHANGESKIN_SPIN_WIDHT                , UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE | WS_BORDER, 341, 61 , 12 , 12
   CONTROL "Placement"         , ID_DIALOG_CHANGESKIN_BUTTON_PLACE              , BUTTON      , BS_GROUPBOX | WS_CHILD | WS_VISIBLE                                                                                   , 268, 48 , 80 , 63
   CONTROL "Center"            , ID_DIALOG_CHANGESKIN_BUTTON_CENTER             , BUTTON      , BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                                                    , 275, 63 , 68 , 10
   CONTROL "Stretch"           , ID_DIALOG_CHANGESKIN_BUTTON_DILATE             , BUTTON      , BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE                                                                            , 275, 77 , 68 , 10
   CONTROL "Tile"              , ID_DIALOG_CHANGESKIN_BUTTON_ALONGSIDE          , BUTTON      , BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE                                                                            , 275, 93 , 68 , 10
   CONTROL "OK"                , IDOK                                           , BUTTON      , BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                                                      , 268, 125, 80 , 14
   CONTROL "Cancel"            , IDCANCEL                                       , BUTTON      , BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                                    , 268, 146, 80 , 14
   CONTROL "Reset to default"  , ID_DIALOG_CHANGESKIN_BUTTON_RESET              , BUTTON      , BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP                                                         , 105, 146, 155, 14
}

AssistantDialog DIALOG 0, 0, 265, 125
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Assistant Options"
FONT 8, "MS Sans Serif"
{
   CONTROL "OK"                                        , IDOK                                    , BUTTON      , BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                     , 210, 104,  50, 14 
   CONTROL "Launch after\nif no response from user"    , ID_DIALOG_ASSISTANT_STATIC_UNACTIVE     , STATIC      , SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP                                                                ,  12,  10, 112, 16 
   CONTROL ""                                          , ID_DIALOG_ASSISTANT_EDIT_UNACTIVE       , EDIT        , ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP                     , 128,  10,  40, 14 
   CONTROL "Spin1"                                     , ID_DIALOG_ASSISTANT_SPIN_UNACTIVE       , UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 164,  12,  11, 14 
   CONTROL "seconds"                                   , ID_DIALOG_ASSISTANT_STATIC_SECOND       , STATIC      , SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP                                                                , 174,  13,  46, 8 
   CONTROL "Assistant work frequency:"                 , ID_DIALOG_ASSISTANT_STATIC_JOB          , STATIC      , SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP                                                                ,  12,  31, 112, 8 
   CONTROL ""                                          , ID_DIALOG_ASSISTANT_EDIT_JOB            , EDIT        , ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP                     , 128,  28,  40, 14 
   CONTROL "Spin2"                                     , ID_DIALOG_ASSISTANT_SPIN_JOB            , UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 166,  29,  11, 14 
   CONTROL "milliseconds"                              , ID_DIALOG_ASSISTANT_STATIC_MILISECOND   , STATIC      , SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP                                                                , 174,  31,  46, 8 
   CONTROL "Launch new game automatically"             , ID_DIALOG_ASSISTANT_CHECKBOX_AUTOSTART  , BUTTON      , BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                      ,  11,  48, 245, 8 
   CONTROL "Stop if there are no definitely safe moves", ID_DIALOG_ASSISTANT_CHECKBOX_STOPJOB    , BUTTON      , BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                      ,  11,  61, 245, 8 
   CONTROL "Ignore pause"                              , ID_DIALOG_ASSISTANT_CHECKBOX_IGNOREPAUSE, BUTTON      , BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                      ,  11,  73, 245, 8 
   CONTROL "Virtual click beep"                        , ID_DIALOG_ASSISTANT_CHECKBOX_BEEPCLICK  , BUTTON      , BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP                                                      ,  11,  85, 245, 10 
   CONTROL ""                                          , ID_DIALOG_ASSISTANT_BUTTON_FRAME        , STATIC      , SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE                                                                    ,   5,   5, 255, 93 
}

////////////////////////////////////////////////////////////////////////////////
//                                    version
////////////////////////////////////////////////////////////////////////////////

1 VERSIONINFO
FILEVERSION    ID_VERSIONINFO_VERSION1
PRODUCTVERSION ID_VERSIONINFO_VERSION1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
   BLOCK "042204E3"
   {
      VALUE "CompanyName"        , "Serg Krivulya (KSerg)"
      VALUE "ProductName"        , "FastMines"
      VALUE "FileVersion"        , ID_VERSIONINFO_VERSION2
      VALUE "ProductVersion"     , ID_VERSIONINFO_VERSION5
      VALUE "FileDescription"    , "The ultimate offspring of good old Minesweeper!"
      VALUE "LegalCopyright"     , "Copyright © KSerg 2004"
      // прочие сведенья
      VALUE "InternalName"       , "FastMines"
      VALUE "OriginalFilename"   , "FastMines2.exe"
      VALUE "Author"             , "Serg Krivulya (KSerg)"
      VALUE "Creation"           , "MVC++ 5.0, WinAPI"
      VALUE "Comments"           , "ShareWare"
      VALUE "e-mail"             , "Serg_Krivulja@UkrPost.net"
      VALUE "e-mail"             , "Sergey_Krivulya@UkrPost.net"
      VALUE "ICQ UIN"            , "72099167"
      VALUE "netmail"            , "2:463/444:271"
    //VALUE "Programm site"      , "http://fastmines.softdepia.com"
      VALUE "Programm site (rus)", "http://kserg77.chat.ru"
   }
}

BLOCK "VarFileInfo"
{
   VALUE "Translation", 0x0422 0x04E3
}
}
