<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="SeregaLBN.FastMines" Publisher="CN=Serega" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FastMines</DisplayName>
    <PublisherDisplayName>Serega</PublisherDisplayName>
    <Logo>res\Logo\StoreTile\Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FastMines.App">
      <VisualElements DisplayName="FastMines" Logo="res\Logo\Tile\Logo.png" SmallLogo="res\Logo\SmallTile\Logo.png" Description="FastMines" ForegroundText="light" BackgroundColor="#FF8C00">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="res\Logo\Badge\Logo.png" />
        <DefaultTile ShowName="allLogos" WideLogo="res\Logo\WideTile\Logo.png" />
        <SplashScreen Image="res\Logo\SplashScreen\Logo.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.FastMinesTileUpdater">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>